:root {
  --title-color: #212121;
  --text-color: #757575;
  --hover-color: #2196f3;
  --background-color-dark: #2f303a;
  --white-color: #ffffff;
  --background-color-light: #f5f4fa;
  --card-set-gap: 30px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--title-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Хедер */

.header {
  border-bottom: 1px solid #ececec;
  padding-top: 25px;
  padding-bottom: 25px;
}

.topline {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.logo {
  display: flex;
  font-family: 'Raleway', sans-serif;
  color: var(--title-color);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo > span {
  color: var(--hover-color);
}

.menu-nav {
  display: flex;
  align-self: center;
  margin-right: auto;
}

.nav-list {
  display: flex;
  align-self: center;
  padding: 0;
}

.nav-list li:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.nav-link:hover,
.nav-link:focus,
.activ-nav {
  color: var(--hover-color);
}

.contacts {
  display: flex;
  justify-content: end;
  align-items: center;
}

.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.contact:hover,
.contact:focus {
  color: var(--hover-color);
}
/* Секция Герой */

.hero {
  background-color: var(--background-color-dark);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  padding-bottom: 30px;
}

.hero button {
  font-family: inherit;
  background-color: var(--hover-color);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--white-color);
  cursor: pointer;
  padding: 10px 32px;
}

/* Особенности */

/* Плохая практика!!! Не читабельно для ассистива */

.special {
  padding-top: 94px;
}

.visualy-hiden {
  display: none;
}

.special-list {
  display: flex;
  padding: 0;
  justify-content: space-between;
}

.special-item {
  max-width: 270px;
}

.special-item h3 {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.special-item p {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* Чем мы занимаемся */
.business {
  padding-top: 94px;
  padding-bottom: 94px;
}

.business-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.business-list {
  display: flex;
  justify-content: space-between;
}

/* Наша команда */

.team {
  background-color: var(--background-color-light);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-item {
  background-color: var(--white-color);
  width: 270px;
  height: 368px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.team-description {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team-item h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-item p {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* Футтер */

.footer {
  background-color: var(--background-color-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  color: var(--white-color);
  margin-bottom: 20px;
  margin-right: 0;
}

.address {
  font-style: normal;
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address p {
  margin-bottom: 9px;
}

.address p:hover {
  color: var(--hover-color);
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-item a {
  color: rgba(255, 255, 255, 0.6);
}
.address-item a:hover,
.address-item a:focus {
  color: var(--hover-color);
}

/* Портфолио */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Кнопки */

.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters-item:not(:last-child) {
  margin-right: 8px;
}

.filters-btn {
  font-family: inherit;
  font-weight: 500;
  background: var(--background-color-light);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  padding: 6px 22px;
}

.filters-btn:hover,
.filters-btn:focus {
  background-color: var(--hover-color);
  color: var(--white-color);
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.aktiv-btn {
  background: var(--hover-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Наши проекты */

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.projects-item {
  display: flex;
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
}

.project-image {
  display: block;
  max-width: 100%;
}

.project-description {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.projects-item h3 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.projects-item p {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
